:root{
    --background:rgba(85,214,170,.85);
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin:0;
    background: #222;
    font-family: "work Sans",sans-serif;
    font-weight: 400;
}
.content{
    height: 200vh;
    background-image: url("images/working.png");
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;

}